{% extends '::base.html.twig' %}

{% block body_left %}
	<div class="col-md-8">
		<div class="clzk-block-container">
			<div class="col-md-12">
				{% block page_content %}{% endblock %}
			</div>
		</div>
	</div>
{% endblock %}