{% extends 'ColzakHomeBundle::layout.html.twig' %}

{% block title %}Lynx-Floorball | Multimédia{% endblock %}
{% block meta %}
    <meta name="description" content="Les Lynx sont fiers de partager en images, avec vous, les grands moments du championnat de 2e division de floorball en France, ainsi que les évènements sportifs dans lesquels l'équipe est impliquée.">
{% endblock %}
{% block breadcrumb %}
    <ol class="breadcrumb">
        <li><a href="{{ path('colzak_home_homepage') }}"><span class="glyphicon glyphicon-home"></span>&nbsp;Accueil</a></li>
        <li class="active">Multimédia</li>
    </ol>
{% endblock %}
{% block body_left %}
<div class="col-md-8">
    <div class="clzk-block-container">
        <h1 class="text-center">Galerie</h1><br>
        {% if media|length > 0 %}
            {% for medium in media %}
                <div class="col-md-4">
                    <h4 class="text-center">{{ medium.title }}</h4>
                    <div class="clzk-article-content">
                        {{ medium.content|raw }}
                        <div class="clearfix"></div>
                    </div>
                </div>
                {% if not loop.last %}<hr>{% endif %}
            {% endfor %}
        {% else %}
            <p class="text-center"><i>Rien pour le moment !</i></p>
        {% endif %}
    </div>
</div>
{% endblock %}