{% extends '::base.html.twig' %}

{% block extra_javascripts %}
{% endblock %}

{% block extra_stylesheets %}
{% endblock %}

{% block body %}
    <div class="col-md-6 col-md-offset-3">
        <div class="clzk-block-container clzk-login-container">
            <h1 class="text-center">Connexion</h1><br />
            <form action="{{ path("fos_user_security_check") }}" method="post" role="form" id="cn-login-form">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                <div class="form-group">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" placeholder="Email" class="form-control"/>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="form-group">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <input type="password" id="password" name="_password" required="required" placeholder="Mot de passe" class="form-control"/>
                    </div>
                    <div class="clearfix"></div>
                </div>

                <div class="form-group col-md-12 col-sm-12 col-xs-12">
                    <div class="checkbox">
                        <label>
                          <input type="checkbox" id="remember_me" name="_remember_me" value="on">Se souvenir de moi
                        </label>
                    </div>
                </div>
                <div class="clearfix"></div>

                <div class="col-md-4 col-md-offset-8">
                    <button type="submit" class="btn btn-primary btn-block">Connexion</button>
                </div>
                <div class="clearfix"></div>
            </form>
        </div>
    </div>
{% endblock %}