body {
    padding: 0;
    background: #DDD;
    color: #333;
    font-size: 16px;
    background: url(/img/brickwall.png) repeat #DDD;
    /*background: url(/img/cream_dust.png) repeat #DDD;*/
    /*background: url(/img/fabric_of_squares_gray.png) repeat #DDD;*/
}
h1, h2, h3 {
    font-family: 'Architects Daughter', cursive;
    color: #555;
    font-weight: bold;
}
.navbar {
    box-shadow: 5px 5px 1px #AAA;
    /*font-family: 'Architects Daughter', cursive;*/
    font-size: 1em;
    font-weight: normal;
}
.form-control {
    margin: 5px auto;
    padding: 5px 12px;
}

/*HEADER*/
.clzk-header-cover-container {
    height: 450px;
    /*background: url("/img/bfc_cover2.png") no-repeat scroll 50% 20% / 70% auto #000;*/
    background: url("/img/bfc_cover2.png") no-repeat center 20% #000;
    -moz-background-size: cover;
    background-size: cover;

}
.clzk-navbar-container {
    background: none repeat scroll 0 0 #000000;
    height: 50px;
    opacity: 0.5;
    position: relative;
    top: -50px;
    width: 100%;
}
.clzk-navbar {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 50px;
    opacity: 1;
    padding-top: 0;
    position: relative;
    margin-top: -100px;
    margin-bottom: -20px;
    border: 0px;
}
.clzk-navbar .btn {
    margin: 5px 0;
}

.clzk-nav > li > a {
    padding-top: 12px;
    padding-bottom: 12px;
    color: #FFF;
}
.clzk-brand {
    max-height: 25px;
}
.clzk-brand-full-logo {
    margin-left: -25px;
    max-height: 180px;
    position: absolute;
    top: -140px;
}
.clzk-menu > li > a:hover {
    border-top: 2px #ffff28 solid;
    margin-top: -2px;
    color: #F7F7F7;
}
/*BODY*/
.clzk-body {
    min-height: 340px;
    margin-top:30px;
}
/*INDEX*/
.clzk-img-rounded {
    border-radius: 100px;
    margin: 25% auto;
}
.clzk-block-container {
    width: 100%;
    border: 4px #ccc solid;
    background: #F7F7F7;
    padding: 5px;
    margin-bottom: 30px;
    box-shadow: 5px 5px 1px #AAA;
}
.clzk-long-block {
    min-height: 498px;
}
.clzk-last-articles-container {
    height: 305px;
    width: 100%;
    border: 4px #000 solid;
    background: #333;
    color: #FFF;
    margin-bottom: 30px;
    box-shadow: 5px 5px 1px #AAA;
}
.clzk-last-articles-container h3 {
    margin-top: 10px;
    width: 100%;
    padding-top: 5px;
    padding-left: 15px;
    color: #EEE;
}
/*ARTICLES*/
.clzk-last-articles-tab-container {
    border: none;
    border-radius: 0;
}
.clzk-last-articles-tab-container > li.active > a, .clzk-last-articles-tab-container > li.active > a:hover, .clzk-last-articles-tab-container > li.active > a:focus {
    background-color: #0195dd;
    border: none;
    color: #FFF;
    cursor: default;
    border-radius: 0;
    font-weight: bold;
}
.clzk-last-articles-tab-container > li > a {
    border: none;
    border-radius: 0;
    line-height: 1.42857;
    margin-right: 0;
    color: #FFF;
}
.clzk-last-articles-tab-container > li > a:hover {
    background: #555;
    color: #FFF;
}
.clzk-last-articles-tab-content {
    border-right: 2px #000 solid;
    position: relative;
    height: 246px;
}
.clzk-last-articles-tab-content img{
    margin:auto;
    max-height: 250px;
}
.clzk-article-summary {
    background: #000;
    position: absolute;
    bottom: -14px;
    color: #F7F7F7;
    padding: 10px;
}
.clzk-edito {
    background: #eee;
    color: #999;
    padding: 15px;
    padding-top: 5px;
    margin-bottom: 10px;
}
.clzk-article-title {
    background: none repeat scroll 0 0 #0195DD;
    color: #FFFFFF;
    height: 50px;
    margin: 0;
    padding-top: 10px;
    width: 100%;
}
.clzk-article-img{
    margin: auto;
    height: 250px;
    display: block;
}
/*.clzk-article-date-container {
    border-radius: 10px 0;
    box-shadow: 3px 3px 5px #CCCCCC;
    height: 100px;
    margin-bottom: 10px;
    margin-right: 10px;
    width: 100px;
    padding: 0;
}
.clzk-article-date-month {
    background: none repeat scroll 0 0 #A80000;
    border-radius: 10px 0 0;
    color: #FFFFFF;
    font-weight: bold;
    height: 25px;
    padding-top: 2px;
    width: 100%;
    margin: 0;
}
.clzk-article-date-day {
    font-size: 2.7em;
    margin: 0;
}
.clzk-article-date-year {
    font-size: 0.8em;
}*/
/*GAMES*/
.clzk-next-game-container {
    background: url("/img/vs.png") no-repeat scroll 50% 50% / 22% auto #F7F7F7;
}
.clzk-game-container {
    background: url("/img/vs.png") no-repeat scroll 50% 50% / 8% auto #FFF;
    border: 1px #ddd solid;
    padding: 10px;
    margin: 10px auto;
}
/*TEAM*/
.clzk-user-thumbnail-container {
    margin: 10px auto;
}
/*WHAT IS FLOORBALL*/
.what-is-floorball img {
    margin: auto;
}
.what-is-floorball li, .what-is-floorball p {
    font-size: 16px;
}
/*FOOTER*/
.clzk-footer .navbar {
    margin-bottom: 0;
}
.clzk-footer-text {
    margin-top: 15px;
    font-size: 14px;
}
.clzk-footer-text a {
    color: #ddd !important;
}
.clzk-footer-text a:hover {
    color: #333 !important;
}