{% extends 'ColzakAdminBundle::layout.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-9">
            <h2 class="clzk-admin-title">Nouvelle équipe</h2>
        </div>
        <div class="col-md-3">
            <a href="{{ path('colzak_admin_team_delete', {'id': team.id}) }}" class="btn btn-block btn-danger">Annuler</a>
        </div>
    </div>
    <hr>

    {{ form_start(form) }}
        {{ form_rest(form) }}
        <button type="submit" class="btn btn-primary">Valider</button>
    {{ form_end(form) }}
{% endblock %}