<p class="text-center">{{ game.date|date('d M Y') }} à {{ game.place }}</p>
<div class="col-md-5"><img src="/img/lynx_bordeaux.jpg" class="img-responsive"></div>
<div class="col-md-2"><p class="text-center">V.S.</p></div>
<div class="col-md-5"><img src="/img/impacts_tours.jpg" class="img-responsive"></div>
