{% if game is defined and game is not null %}
	<div class="clzk-next-game-container">
		<div class="col-md-5">
		    <img src="{{ game.team1.teamLogoPath }}" class="img-responsive">
		</div>
		<div class="col-md-2"></div>
		<div class="col-md-5">
		    <img src="{{ game.team2.teamLogoPath }}" class="img-responsive">
		</div>
		<div class="clearfix"></div>
		<br />
		<p class="text-center"><strong>{{ game.date|date('d M Y') }} à {{ game.place }}</strong></p>
	</div>
{% else %}
	<p class="text-center">Aucun match prévu prochainement</p>
{% endif %}
